/*
Color Palette:
background color:  
font color:        
secondary color:   
tertiary color:    
*/

/* CSS syntax notes:
    selector {property: value;}
*/

body {
    margin: 0;
}


header {
    background-color: Blue;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}

h1 {background-color: crimson;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
    
}

h4 {
    background-color: lightGreen;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}

h6 {
    background-color: yellow;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}